/**************** reset CSS ****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************** end reset **********/


body{
	line-height: 1.5;
	background-color: white;
	font-family: Arial, sans-serif;
	color: rgba(84,36,28,1.0);
	font-size: 110%;
	margin-top: 70px;
}

section{
	margin-bottom: 2%;
}

ul{
	padding: 0px 30px;
}

ol{
	padding: 10px 30px;
	list-style-type: decimal;
}

h1{
	font-size: 160%;
	padding-top: 10px;
	line-height: 2;
	font-weight: 600;
}

h1 a{
	padding-top: 10px;
}

h2{
	font-size: 150%;
	line-height: 3;
	font-weight: 600;
}

h3{
	font-size: 100%;
	line-height: 2;
	font-weight: 600;
}

p{
	padding: 0% 2% 1% 2%;

}

p #author, p a{
	line-height: 1;
}

a{
	font-size: 110%;
}

a:link, a:visited{
	text-decoration: none;
	color: rgba(111,104,37,1.0);
	font-family: times;
}

a:focus, a:hover, a:active{
	color: rgba(111,104,37,.6);
	text-decoration: none;
}


#main-home{
	margin: auto;
	width: 100%;
	clear: both;
}

.main-content{
	margin: 1em 5% 3em 5%;
}

article img{
	width: 40%;
	float: right;
	padding: 0em 0em 1em 1em;
}

article p{
	width: 50%;
}

/* nav styling */
nav{
	padding: 1%;
	position: fixed;
	top: 0px;
	width: 100%;
	margin:auto; 
	z-index:100000; 
	background-color: rgba(236,228,197,1.0);
	height: 50px;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	text-align: center;
	display: inline;
	padding: 5px 10px;
	margin: 10px;	
}

nav li a{
	display: inline;
	padding: 0px .5em .5em .5em;
}


#nav-logo{
	float: left;
	margin-left: 25px;
}

nav li a:link,nav li a:visited {
	border-bottom: 3px solid transparent; 
}


nav li a:focus, nav li a:hover, nav li a:active {
	color: rgba(111,104,37,.6);
	border-color: rgba(111,104,37,.4);
}

nav li a {
	transition: .7s all;
}

/* intro  section */


#intro{
	background-image: url(images/indexHero1.jpg);
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: -5px;
	margin-top: -2px;
}

#intro h2{
	text-align: center;
	padding-top: 250px;
	font-size: 230%;
	line-height: 1.5;
}

#intro h2 span{
	font-size: 160%;
}

#intro div{
	text-align: center;
	margin-top: 55px;
}

#intro div a{
	width: 100px;
	padding: 10px;
	border-radius: 15px;
	border: 2px solid rgba(111,104,37,1.0);
}

/* contributor section */

#contributor{
	padding-top: 130px;
	height: 510px;
	background-color: rgba(236,228,197,1.0);
}

#contributor h2, #featured-recipes h2, #featured-tip h2{
	margin-left: 45px;
}

#contributors-img img, #about-img img{
	padding: 5%;
	margin:auto;
	width: 50%;
	height: auto;
}

/* featured recipes section */


#featured-recipes{
	padding-top: 60px;
	
	height: 550px;
}

.recipe-img{
	background-size: cover;
	background-position: center;
	height: 350px;
	background-repeat: no-repeat;
	width: 44%;
	float: left;
	margin: 3%;
	font-size: 180%;
}


.recipe-img:nth-child(2){
	background-image: url(images/crockpot-chicken-noodle-soup.jpg);
	
}

.recipe-img:nth-child(3){
	background-image: url(images/banana-bread.jpg);
}

.recipe-img div{
	text-align: center;
	margin-top: 100px;
	background-color: white;
	opacity: .8;
}

#featured-recipes a:link div, #featured-recipes a:visited div{
	visibility: hidden;
}

#featured-recipes a:focus, #featured-recipes a:hover, #featured-recipes a:active{
	color: rgba(111,104,37,1.0);
}

#featured-recipes a:focus div, #featured-recipes a:hover div, #featured-recipes a:active div{
	visibility: visible;
}

/* featured tip section */


#featured-tip{
	padding-top: 60px;
	height: 530px;
	background-color: rgba(111,104,37,.2);
}

#tip-container{
	font-size: 120%;
	padding: 5% 15% 3% 15%;
	line-height: 1.5;
}

#tip-container a{
	font-size: 100%;
}


/* contributor quote section */

.quote{
	font-size: 130%;
	padding: 5% 15% 3% 15%;
	line-height: 1.5;
}

.quote-speaker{
	text-align: right;
	font-size: 125%;
	padding-right: 15%;
} 

.more-link{
	text-align: right;
	padding-right: 30px;
	display: block;
}

/*		thumbnail grid 	*/
.thumbnail-grid {
  margin-bottom: 3em;
  float: left;
}

/*	recipes page uses .thumbnail-container 	*/

.thumbnail-grid .thumbnail-container{
	width: 47%;
	float: left;
	margin-right: 6%;
	margin-bottom: 4em;
	text-align: center;
}

.thumbnail-grid div:nth-child(2n) {
  margin-right: 0;
}

.thumbnail-grid div:nth-child(2n+1) {
  clear:left;
}

/*	tips page uses .li 	*/

.thumbnail-grid li {
	float: left;
	margin-right: 1.33%;
	margin-bottom: 1em;
	width: 24%;
}

.thumbnail-grid li:nth-child(4n) {
	margin-right: 0;
}

.thumbnail-grid li:nth-child(4n+1) {
	clear: left;
}

.thumbnail-grid img{
	width: 100%;
}

.thumbnail-grid figure{
	margin: 0;
	padding: 0;
	text-align: center;

}

.thumbnail-grid figcaption{
	position: relative;
}
.thumbnail-grid figcaption p{
	position: absolute;
	width: 100%;
	text-align: center;

}

.thumbnail {
	position: relative;	/* Set the container for the images */
	width: 100%;
}
.thumbnail-grid img{
	max-width: 100%;
}

.thumbnail .overlay {
	/* Set up the overlay text and background */
	background-color: rgba(84,36,28,1.0);
	color: white;
	font-size: 180%;
	padding-top: 40%;
	text-align: center;

	/* Make the overlay fill its container */
	position: absolute;
	width: 100%;
	height: 58.5%;
	
	/* Hide the overlay */
	opacity: 0;
}

/* Show the overlay on hover */
.thumbnail-grid a:hover .overlay {
	opacity: 1;
}

/* Make a smooth transition for the overlay */
.thumbnail-grid a .overlay {
	transition: 1s all;
}

/*	recipes page 	*/

#recipes-hero{
	background-image: url(images/recipesHero.jpeg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: 4em;
	margin-top: -5px;
}

#recipes-hero h2{
	position: absolute;
	top: 5em;
	left: 4em;
	color: white;
	font-size: 180%;
}

/*	tips page 	*/

#tips-hero{
	background-image: url(images/tipsHero.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: 4em;
	margin-top: -5px;
}

#tips-hero h2{
	position: absolute;
	font-size: 180%;
	top: 18%;
	left: 19%;
}

/*	contributors page 	*/

#contributors-hero{
	background-image: url(images/contributorsHero.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: 4em;
	margin-top: -5px;
}

#contributors-hero h2{
	position: absolute;
	font-size: 180%;
	top: 5em;
	left: 43%;
}

.contributors p:first-letter{
	font-size: 180%;
	line-height: 1;
}

/*	about page 	*/

#about-hero{
	background-image: url(images/aboutHero.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: 4.5em;
	margin-top: -5px;
}

#about-hero h2{
	position: absolute;
	font-size: 180%;
	top: 5em;
	left: 46%;
	color: white;
}

.about p:first-letter{
	font-size: 180%;
	line-height: 1;
}

/* 	prev/next recipe */
.next-recipe, .next-tip{
	text-align: right;
	padding-top: 55px;	
	float: right;
	margin-bottom: 4em;
}

.prev-recipe, .prev-tip{
	text-align: left;
	padding-top: 55px;	
	float: left;
	margin-bottom: 4em;
}

.next-recipe a, .prev-recipe a, .next-tip a, .prev-tip a{
	width: 100px;
	padding: 10px;
	border-radius: 15px;
	background-color: rgba(111,104,37,1.0);
	color: white;
	transition: .6s all;
}


.next-recipe a:hover, .next-recipe a:focus, .prev-recipe a:hover, .prev-recipe a:focus, .next-tip a:hover, .next-tip a:focus, .prev-tip a:hover, .prev-tip a:focus{
	background-color: rgba(111,104,37,.6);
}

.prev-next{
	clear: both;
}
